:root {
  --fs-13: 13px;
}

.container {
  background-color: #1a96da;
  font-family: Lato, sans-serif;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

img {
  width: 60%;
}

.icon-background {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 0.8rem;
  padding-left: 0.2rem;
}

p {
  font-size: var(--fs-13);
  text-align: center;
  padding-top: 1rem;
}

.heading-padding {
  padding-top: 3rem;
}

.features-padding {
  padding: 1rem 2rem 3rem;
}

.icon-margin {
  margin: 1rem 4rem;
}

.column-third {
  flex-basis: calc(100% / 3);
}
