* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 10rem auto;
}

.row {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.column-two-fourth {
  flex-basis: 50%;
}

.align-center {
  align-items: center;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 5px;
}

.solid {
  background-color: #000;
}
