.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-half {
  flex-basis: 50%;
}

.column-fourth {
  flex-basis: 25%;
}
